@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

h2 {
  @-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

}

.dot {
  height: 35px;
  width: 35px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-animation: colored 40s infinite linear;
  background-image: -webkit-linear-gradient(90deg, #f35626, #feab3a);
}
@-webkit-keyframes colored {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}